html {
    margin:0;


    background-image: url('/frame-2487298_640.png');

    background-repeat: no-repeat;

    background-size:cover;

    background-position: center;
}

body {
    margin:0;
 
    

    
}